//--------------------------------------------------------------
// Site Content
//-------------------------------------------------------------

.site-content {
	@include span-columns(12);

	@include media($tablet-landscape) {
		@include span-columns(8);
	}

	.primary, .content-area, .site-main,  {
		overflow: auto;
	}
}

//--------------------------------------------------------------
// Posts and Pages
//--------------------------------------------------------------


// Archive Thumbnail

// Entry Title
.single .hentry, .page {
	.entry-title {
		    font-size: 1.8rem;
	} // .entry-title	
} 
.hentry .entry-title {
	font-size: 1.35rem;

	@include media($tablet-landscape) {
		font-size: 1rem;
	}	
}

// Sticy and Comments Link
.sticky,
.comments-link {
	display: block;
} // .sticky, .comments-link

// hentry
.hentry {
	margin: 0 0 rem(24) 0;
} // .hentry

.hfeed .hentry {
	background: $color-white;
    border-radius: .25rem;
    border: 1px solid $color-alto;
}

// Byline and update post date
.byline,
.updated:not(.published) {
	display: none;
} // .byline, .updated:not(.published)

// Byline for single and group
.single .byline,
.group-blog .byline {
	display: inline;
} // .single .byline, .group-blog .byline

// Page content, entry content and entry summary
.page-content,
.entry-content,
.entry-summary {
	margin: rem(24) 0 0;
} // .page-content, .entry-content, .entry-summary

// Page links
.page-links {
	clear: both;
	margin: 0 0 rem(24) 0;
} // .page-links

// Tags links
.tags-links {
	margin-left: rem(24);
} // .tags-links

// Edit link
.edit-link {
	margin: 0 0 0 rem(5);

	a {
		display: inline-block;
		font-size: rem(12);
		text-transform: lowercase;

		&::before {
			content: '(';
		}

		&::after {
			content: ')';
		}
	} // a
} // .edit-link

// Asides
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
} // .blog .format-aside .entry-title, .archive .format-aside .entry-title

// Content blocks.
.content-block {
	@include clearfix;
} // .content-block

// Archive
.home {
	.post {
		.entry-content, .entry-footer {
			display: none;
		}
	}
}