//--------------------------------------------------------------
// Forms
//--------------------------------------------------------------

label {
	display: inline-block;
    line-height: 1.3;
    clear: both;
}

button,
input,
select,
textarea {
	font-size: 100%; // Corrects font size not being inherited in all browsers
	margin: 0; // Addresses margins set differently in IE6/7, F3/4, S5, Chrome
	vertical-align: baseline; // Improves appearance and consistency in all browsers
} // button, input, select, textarea

// Addresses excess padding in IE8/9
input[type='checkbox'],
input[type='radio'] {
	padding: 0;
} // input[type="checkbox"], input[type="radio"]

// Remove the clear x icon in IE
input[type='text']::-ms-clear,
input[type='search']::-ms-clear {
	display: none;
} // input[type="text"]::-ms-clear, input[type="search"]::-ms-clear

input[type='search'] {
	-webkit-appearance: textfield; // Addresses appearance set to searchfield in S5, Chrome
	box-sizing: content-box;

	// Corrects inner padding displayed oddly in S5, Chrome on OSX
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	} // &::-webkit-search-decoration
} // input[type="search"]

// Corrects inner padding and border displayed oddly in FF3/4
// www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
} // button::-moz-focus-inner, input::-moz-focus-inner

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {
	border: 1px solid $color-input-border;
	border-radius: 0;
	color: $color-input-text;
	line-height: 1.5;
	padding: $padding-input;

	&:focus {
		outline: double 3px $color-yellow;
		border: solid 1px $color-yellow;
	} // &:focus
} // input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea

input[type=submit] {
	background: $color-yellow;
	color: $color-black;
	font-family: $font-serif;
	text-transform: uppercase;

	&:hover, &:active, &:focus {
		color: $color-black;
		background: $color-dark-yellow;
	}
}

textarea {
	@include size(100% auto);

	overflow: auto; // Removes default vertical scrollbar in IE6/7/8/9
	vertical-align: top; // Improves readability and alignment in all browsers
} // textarea


// Gravity Forms

#content .gform_wrapper input[type=email], 
#content .gform_wrapper input[type=file], 
#content .gform_wrapper input[type=number], 
#content .gform_wrapper input[type=password], 
#content .gform_wrapper input[type=tel], 
#content .gform_wrapper input[type=text], 
#content .gform_wrapper input[type=url], 
#content .gform_wrapper textarea {
	width: 100%;

	border: solid 1px $color-yellow;

	&:focus {
		outline: double 3px $color-yellow;
		border: solid 1px $color-yellow;
	}

	@media screen and (min-width: 667px) {
		width: 100%;
	}
}

.gform_wrapper .gform_heading {
	margin: 0 !important;
}

.gform_wrapper h3.gform_title {
	margin: 0 !important;
}

.gform_wrapper span.gform_description {
	margin: 0 !important;
}

.gform_wrapper .gsection .gfield_label, 
.gform_wrapper h2.gsection_title, 
.gform_wrapper h3.gform_title {
	font-size: .8em !important;
}

.gform_wrapper .top_label .gfield_label {
	font-family: $font-serif;
	display: none !important;
}

.gform_wrapper {
	background: none !important;
	margin: 0 !important;
	color: $color-white;
}

.gform_wrapper .gform_footer {
	margin: 0 !important;
	padding: 10px 0 10px !important;
}

.gform_wrapper ul.gform_fields li.gfield {
	padding-right: 0 !important;
	margin-top: 0;
	
	@media screen and (min-width: 667px) {
		padding-right: 0 !important;
	}
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
	width: 100% !important;
	font-weight: 300;
	letter-spacing: 1px;
	
	&:focus {
		outline: double 3px $color-yellow;
		border: solid 1px $color-yellow;
	}

	@media screen and (min-width: 667px) {
		width: 100% !important;
	}
}

footer.site-footer {
    display: block;
    float: right;
    width: 100%;
}