//--------------------------------------------------------------
// Homepage Template
//--------------------------------------------------------------

body.hfeed {
    background: $color-whitesmoke;

    .site {
        @include span-columns(12);
    }

    .site-content {
        @include span-columns(12);

        @include media($tablet-landscape) {
            @include shift(2);
            @include span-columns(8);
        }
        
        .primary, .content-area, .site-main,  {
            overflow: auto;

            .post {
                @include span-columns(12);
                overflow: hidden;
                
                @include media($tablet-landscape) {
                        min-height: 10rem;
                }

                .archive-post-featured-image {
                    display: flex;
                    align-items: stretch;
                    height: 100%; 
                    
                    @include media($tablet-landscape) {
                        @include span-columns(4);
                    }
                    
                    a:link {
                        line-height: 0 !important;
                        display: block;
                        width: 100%;
                        
                        .thumbnail {
                            width: -webkit-fill-available;
                            height: fit-content;
                            display: block;
                            padding: 5rem;
                            background: center no-repeat;
                            background-size: cover;
                        }
                    }
                }
                
                .entry-header {
                    padding: .5rem;

                    @include media($tablet-landscape) {
                        @include span-columns(8);
                        @include omega();
                        height: 10rem;
                        padding: 1rem; 
                    }

                    .entry-title {
                        @include media($tablet-landscape) {
                            font-size: 1rem;
                            margin: 0;
                        }
                    }
                    
                    .entry-title a:hover {
                        box-shadow: inset 0 -2px 0 $color-neon-pink;
                    }
                }

                .entry-meta {
                    p {
                        margin: 0;
                        font-size: .8rem;
                        font-weight: lighter;
                        color: $color-tundora;
                    }

                    .time-stamp {
                        color: $color-gray-alt;
                        font-size: .8rem;
                        font-weight: lighter;
                    }
                }
            }
        }
    }
}
