//--------------------------------------------------------------
// Alignments
//--------------------------------------------------------------

// Left Align
.alignleft {
	display: inline;
	float: left;
	margin: 0 rem(24) 0 rem(-48);
} // .alignleft

// Right Align
.alignright {
	display: inline;
	float: right;
	margin: 0 rem(-48) 0 rem(24);
} // .alignright

// Center Align
.aligncenter {
	@include margin-auto;
} // .aligncenter
