//--------------------------------------------------------------
// Global Link Styles
//--------------------------------------------------------------

a, a:link {
	color: $color-link;
	-webkit-transition: $transition-all;
	transition: $transition-all;
	text-decoration: none;

	&:visited {
		color: $color-link-visited;
	} // &:visited

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
		transition: $transition-all;
		-webkit-transition: $transition-all;
	} // &:hover, &:focus, &:active
} // a